body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

p{
    font-family: 'Roboto Slab', serif;
}

ul{
    list-style: none;
    display: flex;
}

a{
    text-decoration: none;
}

.half-width{
    width: 50%;
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    width: 100%;
    background-color: #FC8F49;
}

.left img{
    width: 7%;
    height: 100%;
}

.right img{
    width: 25%;
}

.call-me{
    display: flex;
    align-items: center;
    
}

nav span{
    font-size: 1.5rem;
    font-weight: 600;
    float: left;
}

.center{
    width: 80%;
    display: flex;
    margin: auto;
    align-items: center;
}

.photo-area img{
    width: 80%;
    margin: auto;
}

.welcome-area{
    width: 100%;
}

.text-area{
    flex-direction: column;
    text-align: center;
}

.welcome-area{
    width: 90%;
    margin: 50px auto 150px auto;
    display: flex;
    align-items: center;
    gap: 40px;
}

.link-button{
    background-image: linear-gradient(orange, #FE4D2F);
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    font-weight: 600;
    margin-top: 20px;
}

.about-me{
    background-image: url(images/chef-bg.png);
}

.recipe-items{
    width: 90%;
    display: flex;
    margin: auto;
    gap: 5%;
}

.recipe-item img{
    width: 100%;
    border-radius: 20px;
}

.recipe-item{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 10px 10px;
    text-align: center;
    align-items: center;
    box-shadow: 10px 10px 40px grey;
    border-radius: 20px;
    margin-top: 50px;
    text-align: justify;
}

.my-recipe{
    text-align: center;
    width: 90%;
    margin: 150px auto 200px;
}

.orange{
    color: #FC8143;
}

.tomato{
    color: #FE492E;
}

.map{
    text-align: center;
    width: 100%;
    margin: 50px auto 200px;
}

.big-font{
    font-size: 2rem;
    font-weight: 700;
}

.small-font{
    font-size: 1rem;
}

.medium-font{
    font-size: 1.2rem;
    line-height: 2;
}

.semi-big-font{
    font-size: 1.5rem;
}

.review{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 20px;
    text-align: center;
    box-shadow: 10px 10px 30px grey;
    border-radius: 20px;
    padding: 40px 0;
    margin-bottom: 150px;
}

.review-item{
    width: 100%;
}

footer{
    background-color: #FC8F49;
    text-align: center;
    padding: 30px 0;
}

.white{
    color: white;
}